/* ====================== General */

body {
  background-color: #FFBF00 !important;
  font-family: Arial, sans-serif;
  text-align: center;
}

body.error-404 {
  background-color: #FFBF00;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 50px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
  margin-top: 50px;
  margin-bottom: 30px;
}

h2 {
  font-weight: 300;
  text-align: center;
}

h2 a:link,
a:visited {
  color: #e65728;
  text-decoration: none;
  display: inline-block;
}

h2 a:hover,
a:active {
  opacity: 0.7;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

iframe {
  width: 640;
  height: 360;
}

.form-control {
  margin-bottom: 20px;
}

.btn {
  border: none;
  border-radius: 50px;
  margin-bottom: 10px;
  background-color: #e65728;
  color: black !important;
}

.btn:hover {
  cursor: pointer;
  background-color: #FFBF00;
}

/* ======================= Nav */

.navbar {
  background-color: #fff;
  height: 70px;
  margin-bottom: 1rem;
  position: relative;
  z-index: 9999;
}

.navbar a {
  color: #66757f;
  font-size: 13px;
  font-weight: bold;
}

.navbar a:hover {
  color: #FFBF00;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand>img {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
  width: 70px;
  border-radius: 2px;
}

.nav>li>a>img {
  width: 32px;
  border-radius: 32px;
}

nav .search-btn {
  background-color: transparent;
}

nav .search-btn:hover {
  background-color: transparent;
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
  display: flex;
}

nav form.navbar-form {
  display: flex;
  position: relative;
}

#search.form-control {
  border-radius: 20px;
  margin-bottom: 0;
  width: 100%;
  font-size: 13px;
  padding-right: 28px;
  box-sizing: border-box;
}

#search.form-control+.btn {
  position: absolute;
  right: 9px;
  top: 2px;
  bottom: 4px;
  z-index: 1;
  padding: 0;
  color: #66757f;
}

#search.form-control+.btn:active,
#search.form-control+.btn:focus {
  box-shadow: none;
}

#search:active,
#search:focus {
  box-shadow: none;
  border: 2px solid #e65728;
}

/* on "onboarding" pages (signup & login), the navbar is
   different: no search box, the logo is centered, and it has
   a background color.
 */

.onboarding>.navbar {
  background-size: 100% 100%;
}

.onboarding .navbar-header {
  margin: 0 auto;
}

.onboarding .navbar-brand {
  margin: 0;
}

.onboarding .navbar-brand span {
  display: none;
}

.onboarding .nav.navbar-nav.navbar-right {
  position: absolute;
  right: 16px;
}

.onboarding>.navbar a {
  color: #fff;
}

.onboarding>.navbar form.navbar-form {
  display: none;
}

.onboarding {
  background-color: #fff;
}

@media (max-width: 468px) {
  nav form.navbar-form {
    display: none;
  }
}

nav+.container {
  margin-bottom: 1rem;
}



/* ========================== Signup/Login */

#create-account-wrap p, #login-account-wrap p {
  position: relative;
}

#login-form-wrap,
#sign-up-form-wrap {
  background-color: #fff;
  width: 35%;
  margin: 30px auto;
  text-align: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}

#login-form,
#sign-up-form {
  padding: 0 60px;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  height: 60px;
  line-height: 60px;
  border-radius: 4px;
}

#create-account-wrap, 
#login-account-wrap {
  background-color: #eeedf1;
  color: #8a8b8e;
  font-size: 14px;
  width: 100%;
  padding: 10px 0;
  border-radius: 0 0 4px 4px;
}

/* ========================== Homepage */

.full-width {
  width: 100vw;
  margin: 0 -50vw;
  position: relative;
  left: 50%;
  right: 50%;
}

/* ================================ 404 page */

.message-404 {
  color: white;
  margin-top: 2em;
  text-align: center;
}

.message-404 a {
  color: white;
}

.message-404>h4.display-4 {
  font-size: 2.5em;
}

.message-404 .form-inline input {
  flex: 1;
}


/* ====================== Cards */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
  background-color: transparent;
  border-color: transparent;
}

.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

/* ====================== Recipe */

.directions {
  background-color: transparent;
  border-color: #333;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 30px;
  color: #333;
}

.directions h2 {
  font-size: 35px;
  color: #333;
}

.ingredients li {
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.ingredients p {
  font-size: 20px;
}

.ingredients h2 {
  font-size: 35px;
  color: #333;
  text-align: left;
}

.recipe-img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 20px auto 30px;
}

/* ====================== About */

.about-img {
  max-width: 35%;
  height: auto;
  display: block;
  margin: 20px auto 30px;
}

.profile-name {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  cursor: default;
}